[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jinja2 = "*"
pydantic = "*"
beautifulsoup4 = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
